<%- include('includes/header') %>

<section>
  <h2>Create meeting slot</h2>

  <p>Meeting slots that you create here can be booked by patients.</p>

  <form method="POST">

    <div>
      <label>Start date and time:
        <input type="date" class="start_date_input" autocomplete="off" name="start_date" maxlength="64" autofocus required>
      </label>
    </div>

    <div>
      <label>Duration (in minutes):
        <input type="number" autocomplete="off" name="duration" maxlength="2" required value="15">
      </label>
    </div>

    <div>
      <input type="submit" value="Create">
      <a href="/dashboard">Cancel</a>
    </div>

  </form>
</section>

<%- include('includes/footer') %>
