<%- include('includes/header') %>

<h2>Embed code not set</h2>

<p>OpenTok Video Embed code is not set. Please set up the embed code using the link below and come back here.</p>

<a href="/setup" class="button">Set up embed code</a>

<%- include('includes/footer') %>
