<%- include('includes/header') %>

  <div class="column center">

    <section class="grow">
      <a href="dashboard/doctor" class="button">Enter as Doctor</a>
    </section>

    <section class="grow">
      <a href="dashboard/patient" class="button">Enter as Patient</a>
    </section>

    <% if (!lock_setup) { %>
      <section>
        <a href="/setup" class="button secondary">Setup/Update embed code</a>
      </section>
    <% } %>
  </div>

<%- include('includes/footer') %>
