{% extends "layout.html" %}

{% block body %}
<div class="row">
  <h1>Your meetings</h1>
  <a class="button pull-right" href="/meetings/book">+ Book meeting</a>
</div>

{% if meetings.current|length > 0 %}
<h3>Current meeting</h3>
<div class="column meeting-strip">
  {% for m in meetings.current %}
    <div class="row meeting-item">
      <div class="meeting-item-time grow"><time>{{ m.start_time }}<time></div>
      <div><a class="button" href="/meetings/join/{{ m.id }}">Join meeting</a></div>
    </div>
  {% endfor %}
</div>
{% endif %}

<h2>Upcoming meetings</h2>

{% if meetings.upcoming|length > 0 %}
  <div class="column meeting-strip">
    {% for m in meetings.upcoming %}
      <div class="row meeting-item">
        <div class="meeting-item-time grow"><time>{{ m.start_time }}</time></div>
      </div>
    {% endfor %}
  </div>
{% else %}

  <p>You don't have any upcoming meetings. You can <a href="/meetings/book">book a meeting</a>.</p>

{% endif %}

{% endblock %}
